<div class="card" id="reload">
    <div class="card-body shadow">
        <nav class="navbar navbar-light bg-light">
            <h3>Expenses</h3>
            
            <form class="form-inline">
                <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn1" data-toggle="modal" data-target="#exampleModal" (click)="populateForm(expenses)">
            Upload File
            
            </button>
            
            </form>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Upload File</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form #form="ngForm" (submit)="updateRecord(form)" enctype="multipart/form-data">
                            <div class="modal-body">
                                <input type="hidden" name="id" [value]="expenses.id">
                                <label for="recipient-name" class="col-form-label"><h6>File : &nbsp;</h6> </label>
                                <input type="file" class="form-control-file" id="exampleFormControlFile1" (change)="onFileChange($event)" #fileInput required><br>
                                <div id="selectedFiles"></div>

                                <label for="recipient-amount" class="col-form-label"><h6>Amount : &nbsp;</h6></label>
                                <input type="number" class="form-control-text" [(ngModel)]="expenses.amount"  [ngModelOptions]="{standalone: true}" required> 
                                
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label"><h6>Description : &nbsp;</h6></label>
                                    <textarea maxlength="50" class="form-control" id="message-text" rows="4" name="description" [(ngModel)]="expenses.description"></textarea>
                                    <div align="right" style="font-size: 10px;">
                                        (upto 50 characters only)
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeModal>Close</button>
                                <button type="submit" class="btn btn-primary" [disabled]="!expenses.amount">Upload</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>      
        </nav>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body shadow" id="testAppend">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Uploaded Files</h5>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2">
                                <label><b>Description</b> :</label>
                            </div>
                            <div class="col-md-9 border-bottom">
                                <label>{{expenses.description}}</label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-2">
                                <label><b>Amount</b> :</label>
                            </div>
                            <div class="col-md-9 border-bottom">
                                <label>{{expenses.amount | currency:'PHP':'code'}}</label>
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-center table table-hover">
                                <div class="col-md-6">
                                    <table width="100%" id="filesTable">
                                        <thead>
                                            <tr>
                                                <th width="80%" class="text-center">File Name</th>
                                                <th class="text-center" width="100">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableBody">
                                            <tr *ngFor="let expensesFiles of expensesFiles" id='tableRow'>
                                                <td>{{expensesFiles.fileName}}</td>
                                                <td>
                                                    <a [href]="fileUrl" download="{{expensesFiles.fileName}}" (click)="downloadFile(expensesFiles)" class="btn btn-sm btn-info" >
                                                            <img src='../assets/images/download.png' width='15' height='15'>
                                                    </a>
                                                    <button type="button" class="btn btn-sm btn-danger" (click)="onDelete(expensesFiles.id)" id='delete'>
                                                            <img src='../assets/images/delete.png' width='15' height='15'>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>

   
