<div class="card">
    <div class="card-body shadow">
        <nav class="navbar navbar-light bg-light">
            <h3>Insurance/Permits</h3>
            <form class="form-inline">
                <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn1" data-toggle="modal" data-target="#exampleModal" (click)="clearForm()">
            Upload File
            </button>
            </form>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Upload File</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form #form="ngForm" (submit)="onSubmit(form)" enctype="multipart/form-data">
                            <div class="modal-body">
                                
                                <input type="hidden" name="id" [value]="service.formData.id">
                                <label for="recipient-name" class="col-form-label">File:</label>
                                <input type="file" class="form-control-file" id="exampleFormControlFile1" (change)="onFileChange($event)" #fileInput required>
                                <div id="selectedFiles"></div>
                                <br>
                                <label for="recipient-amount" class="col-form-label">Due Date : &nbsp;</label>
                                <input type="date" class="form-control-text" id="exampleFormInput1" (change)="onDateChange($event)" #datePicker>
                                <label *ngIf="service.formData.id">
                                    {{service.formData.dateExpiration | date:'mediumDate'}}
                                </label>   
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Description:</label>
                                    <textarea maxlength="50" class="form-control" id="message-text" rows="4" name="description" [(ngModel)]="service.formData.description"></textarea>
                                    <div align="right" style="font-size: 10px;">
                                        (upto 50 characters only)
                                    </div>
                                </div>
                            
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeModal>Close</button>
                                <button type="submit" class="btn btn-primary" [disabled]="!service.formData.description">Upload</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>      
        </nav>
           
            <div class="card">
                <div class="card-body shadow">
                        <table id="dataTableInsurancePermit" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th>Due Date</th>
                                        <th>Date Uploaded</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <tr *ngFor="let insurancePermit of service.list">
                                        <td style="width:27%">{{insurancePermit.description}}</td>
                                        <td style="width:20%">{{insurancePermit.dateExpiration | date:'mediumDate'}}</td>
                                        <td style="width:15%">{{insurancePermit.dateUpdated | date:'yyyy/MM/dd'}}</td>
                                        <td style="width:18%">
                                            <!-- <a [href]="fileUrl" download="{{insurancePermit.fileName}}" (click)="downloadFile(insurancePermit)" class="btn btn-sm btn-info">
                                                <i class="fas fa-download"></i>
                                            </a>
                                            <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#exampleModal" (click)="populateForm(insurancePermit)" (click)="clearInputFile()">
                                                <i class="far fa-edit fa-lg" ></i>
                                            </button> -->
                                            <a (click)="navigateToFiles(insurancePermit.id)" routerLinkActive="active" class="btn btn-sm btn-info" (click)="populateForm(insurancePermit)"><img src='../assets/images/view.png' width='15' height='15'></a>
                                            <button type="button" class="btn btn-sm btn-danger" (click)="onDelete(insurancePermit.id)">
                                                    <img src='../assets/images/delete.png' width='15' height='15'>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                               
                            </table> 
                </div>
            </div>
    </div>
</div>