<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="border-right pb-3" id="sidebar-wrapper">
      
        <div class="sidebar-heading" style="color:white; text-align: center;"><h3><br>DMS</h3> </div><br>

        <div class="list-group list-group-flush">
            <div class="container">
                <a  routerLink="/Expenses" routerLinkActive="active" class="list-group-item list-group-item-action design">&nbsp; Expenses</a>
            </div>
            <div class="container">
                <a  routerLink="/Letter" routerLinkActive="active" class="list-group-item list-group-item-action">&nbsp; Letter</a>
            </div>
            <div class="container">
                <a  routerLink="/SalesReport" routerLinkActive="active" class="list-group-item list-group-item-action">&nbsp; Sales Report</a>
            </div>
            <div class="container">
                <a  routerLink="/InsurancePermits" routerLinkActive="active" class="list-group-item list-group-item-action">&nbsp; Insurance/Permits</a>
            </div>
            <div class="container">
                <a  routerLink="/Others" routerLinkActive="active" class="list-group-item list-group-item-action">&nbsp; Others</a>
            </div>
        </div>

    </div>
    <!-- /#sidebar-wrapper -->
    
    <!-- Page Content -->
    <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light shadow p-3 mb-2 bg-white rounded">
                <button class="btn" style="background:transparent" id="menu-toggle"><span class="navbar-toggler-icon"></span></button>
               
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown d-md-down-none">
                        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="../assets/images/notification.png" width="15" height="15">
                            <span class="badge badge-pill badge-danger" id="counter"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg pt-0 pb-0" *ngFor="let expiring of insurancePermitService.expiringApplicationList">
                            <div class="dropdown-header text-center bg-light border-bottom">
                                <strong>You have {{insurancePermitService.expiringApplicationList.length}} notifications</strong>
                            </div>
                            <a class="dropdown-item border-bottom p-3" routerLink="/InsurancePermits" *ngFor="let expiring of insurancePermitService.expiringApplicationList">
                                {{ expiring.description }} will expire in {{expiring.dateExpiration | dateDiff:currentDate }} Day/s
                            </a> 
                            
                            
                        </div>
                    </li>
                    <li>
                        <a class="nav-link disabled" >{{loginUser}}</a>
                    </li>
                    <li>
                            <a  routerLink="/" routerLinkActive="active" class="nav-link" (click)="clearSession()">Logout</a>
                    </li>
                </ul>                    
            </nav>       
        <router-outlet></router-outlet>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
