body {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    
    background: rgba(0, 0, 0, .7) url('https://thewallpaper.co//wp-content/uploads/2016/10/1080x-1920-hd-background-vertical-cool-images-amazing-hd-windows-colourfull-free-display-lovely-wallpapers-1080x1920.jpg');
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    
    
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
    font-size: 17px;
    
  }
  .list-group-item{
    background-color:transparent;
    border-top:transparent;
    border-bottom:transparent;
    color:white;
    
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, rgba(0, 0, 0, 0.459) 50%);
    background-position: -0% 0;
    background-size: 200% auto;
  }

  .list-group-item:hover{
     
     background-position: -99.99% 0;
      color:white;
      background-color:white;
      transition: .5s;
      border-radius: 5px;
    
  }

  .list-group-item.active{
    
    background: #00acc1;
    color:white;
    border-radius: 5px;
    
  }

  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
      
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
