<br><br><br>
<div class="row justify-content-center">
    <div class="col-md-4" >
        <div class="card">
            <div class="card-body">
                    <form class="form-signin"  #form="ngForm" (submit)="onSubmit(form)" ngNativeValidate>
                        <h1 class="h3 mb-3 font-weight-normal">Enter Login</h1>
                        <label for="inputUsername">Username</label>
                        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required [(ngModel)]="UserName" autofocus="" [ngModelOptions]="{standalone: true}">
                        <br>
                        <label for="inputPassword">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required [(ngModel)]="Password" [ngModelOptions]="{standalone: true}">
                        <!-- <div class="checkbox mb-3">
                            <label>
                            <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div> -->
                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </form>   
            </div>
        </div>
            
    </div>
</div>
